<div class="mb-3">
    <div id="<%= @name %>_aria_label">
        <p class="font-bold">
            <%= @label %>:
        </p>
        <% unless @description.nil? %>
            <p class="my-3">
                <%= @description %>
            </p>
        <% end %>
    </div>

    <input
        aria-labelledby="<%= @name %>_aria_label"
        id="<%= @name %>"
        name="<%= @name %>"
        placeholder="<%= @label %>"
        type="<%= type %>"
        value="<%= @value %>"
        class="dark:bg-gray-800 dark:border-gray-700 dark:text-white focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
    />
</div>
