<div data-controller="twemoji" class="block">
    <% profile = @skeet_body[:author] %>
    <a href="<%= helpers.make_profile_link profile[:did] %>" class="unstyled">
        <div class="flex mb-4" data-controller="twemoji">
            <div class="flex-col min-w-fit">
                <img
                    class="w-12 h-12 rounded-full"
                    src="<%= profile[:avatar] ? profile[:avatar] : '/default_pfp.png' %>"
                    data-line-target
                    loading="lazy"
                    alt=""
                />
            </div>

            <div class="flex-col ml-3 my-auto text-left">
                <h3 class="text-lg font-medium">
                    <%= profile[:displayName] %>
                </h3>
                <p class="text-sm">
                    <%= profile[:handle] %>
                </p>
            </div>
        </div>
    </a>

    <%= render SkeetPostContentsComponent.new(skeet_body: @skeet_body, user: @user, bluesky_user: @bluesky_user) %>
</div>
