<turbo-frame id="feed">
    <span data-controller="scroll-anchor"></span>
    <div
        data-cursor="<%= @timeline[:cursor] %>"
        data-request-path="<%= @ajax_route %>"
        data-did="<%= @bluesky_user.did %>"
        data-controller="infinite-scrolling"
        id="__scroller__"
    >
        <div id="__payload__">
            <% @timeline[:feed].each do |post| %>
                <div data-controller="avatar-line">
                    <% unless post[:reply].nil? %>
                        <% if post[:reply][:parent][:uri] != post[:reply][:root][:uri] %>
                            <% author = post[:reply][:root][:author] %>
                            <p class="text-sm ml-2 mb-3 text-gray-700 dark:text-gray-400" data-controller="twemoji">
                                <a href="<%= make_profile_link author[:did] %>" class="unstyled" target="_top">
                                    <%= icon 'fa-solid', 'reply' %> Replying to <%= author[:displayName] %>
                                </a>
                            </p>
                        <% end %>

                        <div class="mb-6">
                            <%= render SkeetCompactComponent.new(
                                skeet_body: post[:reply][:parent],
                                user: @user,
                                bluesky_user: @bluesky_user,
                            ) %>
                        </div>
                    <% end %>

                    <% unless post[:reason].nil? %>
                        <% if post[:reply] %>
                        <div class="ml-14">
                        <% end %>
                            <%= render SkeetReasonComponent.new(reason: post[:reason]) %>
                        <% if post[:reply] %>
                        </div>
                        <% end %>
                    <% end %>

                    <%= render SkeetCompactComponent.new(
                        skeet_body: post[:post],
                        user: @user,
                        bluesky_user: @bluesky_user,
                    ) %>
                </div>

                <div class="my-3">
                    <%= render DividerComponent.new %>
                </div>
            <% end %>
        </div>

        <div data-infinite-scrolling-target="results"></div>

        <div class="block mx-auto max-w-max">
            <%= render SpinnerComponent.new %>
        </div>
    </div>
</turbo-frame>
