<%
    part = '.'
    part = ' and TOTP code.' if @has_totp
%>
<%= render FormHeaderComponent.new(
    title: 'Change Password',
    description: "Please enter your new password#{part}",
) %>

<%= render DesktopSmallerViewComponent.new do %>
    <%= form_with method: :post, data: {turbo: false} do %>
        <% unless @error.nil? %>
            <%= render NotificationComponent.new(
                type: 'error',
                body: [@error],
            ) %>
        <% end %>

        <%= render InputComponent.new(
            name: 'password',
            label: 'Password',
            type: 'password',
        ) %>

        <%= render InputComponent.new(
            name: 'password_confirmation',
            label: 'Password Confirmation',
            type: 'password',
        ) %>

        <% if @has_totp %>
            <%= render InputComponent.new(
                name: 'totp_code',
                label: 'TOTP or Recovery Code',
                type: 'text',
            ) %>
        <% end %>

        <div class="mt-5 text-center">
            <%= render ButtonComponent.new(
                name: 'submit',
                label: 'Submit',
                type: 'submit',
                icon: 'check',
            ) %>
        </div>
    <% end %>
<% end %>
