<% @no_mobile_margin = true %>
<% @profile = @bluesky_user.bluesky_client.get_profile %>
<%= inside_layout do %>
    <div class="flex w-full">
        <div class="flex-col hidden md:block sticky self-start top-6">
            <%= render partial: 'layouts/sidebar_desktop' %>
        </div>

        <div class="flex-grow flex-col max-w-2xl md:ml-8">
            <%= yield %>
        </div>
    </div>

    <div class="block w-full md:hidden">
        <%= render partial: 'layouts/sidebar_mobile' %>
    </div>

    <%= render ModalComponent.new(id: 'user_switch_modal', title: 'Switch User') do %>
        <% render DesktopSmallerViewComponent.new do %>
            <turbo-frame id="user_list" src="/components/user_list">
                <div class="block mx-auto max-w-max">
                    <%= render SpinnerComponent.new %>
                </div>
            </turbo-frame>

            <%= render DividerComponent.new %>

            <%= form_with method: :delete, url: '/logout' do %>
                <button type="submit" class="w-full">
                    <div class="flex">
                        <div class="flex-col">
                            <p class="text-4xl">
                                <%= icon 'fa-solid', 'key' %>
                            </p>
                        </div>

                        <div class="flex-col ml-4 my-auto text-left">
                            <h3 class="text-lg font-medium">
                                Logout
                            </h3>
                            <p class="text-sm">
                                Logs out of your account.
                            </p>
                        </div>
                    </div>
                </button>
            <% end %>
        <% end %>
    <% end %>

    <%= render ModalComponent.new(id: 'skeet_composer_dialog', title: 'Compose Skeet') do %>
        <%= render partial: 'skeet_composer' %>
    <% end %>
<% end %>
